[submodule "external/libs/SDL2"]
	path = external/libs/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/libs/SDL2_image"]
	path = external/libs/SDL2_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "external/libs/SDL2_ttf"]
	path = external/libs/SDL2_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
